body, html{
    background-color: rgb(223 226 233 / 66%);
    height: 100%;
}
#header{
    background-image: url("/clouds.jpg");
    background-size: cover;
    text-align: center;
    padding: 20px 0 20px 0;
}
#wrapper{
    background-color: white;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#SearchBar{
    height: 50px;
    width: 100%;
    display: block;
    margin: 10px auto 10px auto;
}
#mainbar{
    flex: 0 0 80%;
    padding: 10px;
}
#sidebar{
    flex: 1;
    padding: 10px;
    border-right: 2px solid;
}
#sidebar p{
}
#moreDetails{
    border-radius: 5px;
}
#searchResults{
    overflow: hidden;
}
#searchResults div{
    float:left;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    min-width: 175px;
}
#searchResults div p{
    padding: 5px;
    margin: 0;
}
#latestSearches{
    margin-top: 30px;
}
#latestSearches a:hover{
    color: grey;
    cursor: pointer;
}
#myCanvas{
    margin-top: 10px;
    border: 1px solid;
}